{% extends 'base.html' %}
{% block title %}{{ _('create_admin') }} — HomeCloud{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card shadow-sm p-4 mt-5">
      <h2 class="mb-4 text-center">{{ _('create_admin') }}</h2>
      <form method="post">
        <div class="mb-3">
          <input type="text" name="username" class="form-control" placeholder="{{ _('login') }}" required>
        </div>
        <div class="mb-3">
          <input type="password" name="password" class="form-control" placeholder="{{ _('password') }}" required>
        </div>
        <button class="btn btn-success w-100" type="submit">{{ _('create_button') }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}